@import 'variables';
@import 'icons';
@import 'todo-input';
@import 'todo-list';

[data-sepcon-component] {
  display: inline;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Slabo 27px', serif;
  background-color: $bodyBgColor;
}

* {
  box-sizing: border-box;
}